/*头部*/
/*@media only screen and (max-width:1200px) {*/
    /*.headerIn .menu{*/
        /*display: none;*/
        /*position: absolute;*/
        /*right: 0;*/
        /*text-align: right;*/
        /*top: 78px;*/
    /*}*/
    /*.menu li {*/
        /*display: block;*/
        /*border: 1px solid #dadada;*/
        /*height: 58px;*/
        /*line-height: 58px;*/
        /*width: 98px;*/
    /*}*/
    /*.menu li a {*/
        /*display: block;*/
        /*padding-bottom: 0;*/
        /*opacity: 0.5;*/
    /*}*/
    /*.menu li a:hover {*/
        /*opacity: 1;*/
    /*}*/
    /*.headerIn .more {*/
        /*width: 64px;*/
        /*height: 64px;*/
        /*display: inline !important;*/
        /*opacity: 0.5;*/
    /*}*/
    /*.headerIn .more:active{*/
        /*opacity: 1;*/
    /*}*/
/*}*/
body,html {
    min-width: 1200px;
    margin: 0 auto;
}
.header {
    width: 100%;
    background-color: #f2f2f2;
}
.header .headerIn {
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.headerIn .left {
    margin: auto 0;
}
.headerIn .left a {
    display: block;
    background-image: url("../images/mylogo.png");
    width: 64px;
    height: 64px;
    opacity: 0.7;
}
.headerIn .left a:hover {
    opacity: 1;
}
.headerIn .menu {
    height: 70px;
    float: right;
    margin-bottom: -10px;
}
/*.headerIn .more {*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*margin-top: 15px;*/
    /*display: none;*/
/*}*/
.headerIn .menu li {
    float: left;
    line-height: 70px;
    font-size: 18px;
    margin-left: 30px;
}
.headerIn .menu li a {
    text-decoration: none;
    color: #000;
    opacity: 0.5;
}
.headerIn .menu li a:hover {
    opacity: 1;
}
    /*轮播图*/
.banner {
    margin: 0 auto;
    /*position: relative;*/
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: 600px;
    margin: 0 auto;
}
.box-line {
    margin: 5px auto;
    width: 100px;
    height: 1px;
    background-color: #4b504b;
}
/*招牌美食*/
.recommend {
    width: 100%;
    margin: 0 auto;
    /*display: block;*/
}
.recommend .recommendIn {
    margin: 0 auto;
    width: 1200px;
}
.recommendIn .nav-tabs {
    margin-left: 40px;
}
.recommendIn h2 {
    text-align: center;
    font-weight: bold;
}
.recommendIn>div {
    font-size: 30px;
    margin: 15px auto;
    font-weight: bold;
}
.recommendIn .food{
    float: left;
    width: 285px;
    height: 300px;
    border: 2px solid #fff;
    border-radius: 5px;
    text-align: center;
}
.food .food-info {
    padding: 0 10px;
    height: 80px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: normal;
}
.food .food-info>span {
    font-size: 20px;
    font-weight: bold;
    display: block;
}

/*本店优势*/
.advantage {
    width: 100%;
}
.advantage .advantageIn {
    width: 1200px;
    height: 260px;
    margin: 0 auto;
}
.advantageIn h2 {
    text-align: center;
    font-weight: bold;
}
.advantageIn .box {
    display: flex;
    justify-content: space-between;
}
/*.advantageIn>.adv-box {*/
    /*width: 100%;*/
/*}*/
.advantageIn .adv-box {
    width: 380px;
    height: 220px;
    background-color: #eeeeee;
    border-radius: 5px;
}
.advantageIn .adv-box img {
    display: block;
    width: 60px;
    height: 60px;
    margin: 10px auto;
}
.adv-box .adv-info {
    margin-top: 40px;
    text-align: center;
    font-size: 12px;
}
.adv-info>span {
    font-weight: bold;
    font-size: 14px;
}
/*厨师*/
.cook {
    width: 100%;
}
.cook .cookIn {
    width: 1200px;
    margin: 0 auto;
    height: 360px;
}
.cookIn h2 {
    font-weight: bold;
    text-align: center;
}
.cookIn .box {
    display: flex;
    justify-content: space-between;
}
/*.advantageIn>.adv-box {*/
/*width: 100%;*/
/*}*/
.cookIn .cook-box {
    width: 380px;
    height: 300px;
    background-color: #eeeeee;
    border-radius: 5px;
}
.cookIn .cook-box img {
    display: block;
    width: 148px;
    height: 148px;
    margin: 10px auto;
}
.cook-box .cook-info {
    margin-top: 40px;
    text-align: center;
    font-size: 12px;
}
.cook-info>span {
    font-weight: bold;
    font-size: 14px;
}
/*底部*/
.footer {
    width: 100%;
    background-color: whitesmoke;
    /*margin-top: 10px;*/
}
.footer .footIn {
    width: 1200px;
    margin: 0 auto;
    height: 180px;
    display: flex;
    justify-content: space-around;
}
.footer .footIn .quick {
    width: 250px;
    height: 100%;
}
/*.footer .footIn .quick ul{*/
    /*float: left;*/
/*}*/
.footer .footIn h4 {
    margin-left: 10px;
}
.footer .footIn .line {
    width: 80px;
    height: 3px;
    background-color: #ff5252;
    margin-left: 10px;
}
.footer .footIn ul {
    margin-top: 10px;
}
.footer .footIn .quick ul li{
    margin-left: 10px;
    line-height: 40px;
    float: left;
}
.quick ul li a {
    text-decoration: none;
    color: #262626;
    opacity: 0.5;
}
.quick ul li a:hover{
    opacity: 1;
}
.footer .footIn .connect {
    width: 250px;
    height: 100%;
}
.footer .footIn .connect .foot-conn {
    line-height: 30px;
}
.connect .foot-conn li {
    font-size: 14px;
    color: #262626;
}
.footer .footIn .subscribe {
    width: 250px;
    height: 100%;
}
.subscribe .foot-subscript li {
    float: left;
    margin-left: 20px;
}
.subscribe .foot-subscript li a {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-decoration: none;
}
.subscribe .foot-subscript li:first-child a{
    background: url("../images/QQlogo.png") 0 0 no-repeat;
}
.subscribe .foot-subscript li:nth-child(2) a {
     background: url("../images/wxlogo.png") 0 0 no-repeat;
 }
.subscribe .foot-subscript li:nth-child(3) a {
    background: url("../images/tblogo.png") 0 0 no-repeat;
}
.subscribe .foot-subscript li:last-child a {
    background: url("../images/wblogo.png") 0 0 no-repeat;
}
.subscribe img {
    display: none;
    width: 80px;
    height: 80px;
    margin-left: 50px;
}
/*返回顶部小标*/
.back-to {
    display: none;
    bottom: 55px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    z-index: 999;
}
.back-to .back-top {
    width: 48px;
    height: 48px;
    display: inline-block;
    background: url("../images/toTop.png");
    float: right;
    margin-left: 10px;
    outline: 0 none;
    text-indent: -9999em;
}
.back-to .back-top:hover {
    background-position: -50px 0
}


