/*头部*/
body,html {
    width: 1200px;
    margin: 0 auto;
}
.header {
    width: 100%;
    background-color: #f2f2f4;
}
.header .headerIn {
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}
.headerIn .left {
    margin: auto 0;
}
.headerIn .left a {
    display: block;
    background-image: url("../images/mylogo.png");
    width: 64px;
    height: 64px;
    opacity: 0.7;
}
.headerIn .left a:hover {
    opacity: 1;
}
.headerIn .menu {
    height: 70px;
    float: right;
    margin-bottom: -10px;
}
/*.headerIn .more {*/
/*width: 50px;*/
/*height: 50px;*/
/*margin-top: 15px;*/
/*display: none;*/
/*}*/
.headerIn .menu li {
    float: left;
    line-height: 70px;
    font-size: 18px;
    margin-left: 30px;
}
.headerIn .menu li a {
    text-decoration: none;
    color: #000;
    opacity: 0.5;
}
.headerIn .menu li a:hover {
    opacity: 1;
}
.box-line {
    margin: 10px auto;
    width: 200px;
    height: 3px;
    background-color: #e5e5e5;
}
/*食物详情介绍*/
.des {
    width: 100%;
}
.des .des-in {
    margin: 10px auto;
    width: 1200px;
    /*background-color: cornflowerblue;*/
    height: 500px;
    text-align: center;
}
.des-in .des-box {
    margin: 0 auto;
    width: 90%;
    height: 400px;
    /*background-color: pink;*/
}
.des-box>p {
    margin-top: 20px;
    font-size: 14px;
    text-indent: 2em;
    text-align: left;
}
.des-in .qlink {
    list-style: none;
    margin-top: 20px;
    text-align: left;
}
.des-in .qlink a{
    color: #000;
    text-decoration: none;
}
.des-in .qlink a:hover {
    color: #ff8167;
}

/*底部*/
.footer {
    width: 100%;
    background-color: whitesmoke;
    /*margin-top: 5px;*/
}
.footer .footIn {
    width: 1200px;
    margin: 0 auto;
    height: 180px;
    display: flex;
    justify-content: space-around;
}
.footer .footIn .quick {
    width: 250px;
    height: 100%;
}
/*.footer .footIn .quick ul{*/
/*float: left;*/
/*}*/
.footer .footIn h4 {
    margin-left: 10px;
}
.footer .footIn .line {
    width: 80px;
    height: 3px;
    background-color: #ff5252;
    margin-left: 10px;
}
.footer .footIn ul {
    margin-top: 10px;
}
.footer .footIn .quick ul li{
    margin-left: 10px;
    line-height: 40px;
    float: left;
}
.quick ul li a {
    text-decoration: none;
    color: #262626;
    opacity: 0.5;
}
.quick ul li a:hover{
    opacity: 1;
}
.footer .footIn .connect {
    width: 250px;
    height: 100%;
}
.footer .footIn .connect .foot-conn {
    line-height: 30px;
}
.connect .foot-conn li {
    font-size: 14px;
    color: #262626;
}
.footer .footIn .subscribe {
    width: 250px;
    height: 100%;
}
.subscribe .foot-subscript li {
    float: left;
    margin-left: 20px;
}
.subscribe .foot-subscript li a {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-decoration: none;
}
.subscribe .foot-subscript li:first-child a{
    background: url("../images/QQlogo.png") 0 0 no-repeat;
}
.subscribe .foot-subscript li:nth-child(2) a {
    background: url("../images/wxlogo.png") 0 0 no-repeat;
}
.subscribe .foot-subscript li:nth-child(3) a {
    background: url("../images/tblogo.png") 0 0 no-repeat;
}
.subscribe .foot-subscript li:last-child a {
    background: url("../images/wblogo.png") 0 0 no-repeat;
}
.subscribe img {
    display: none;
    width: 80px;
    height: 80px;
    margin-left: 50px;
}
/*返回顶部小标*/
.back-to {
    display: none;
    bottom: 55px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    z-index: 999;
}
.back-to .back-top {
    width: 48px;
    height: 48px;
    display: inline-block;
    background: url("../images/toTop.png");
    float: right;
    margin-left: 10px;
    outline: 0 none;
    text-indent: -9999em;
}
.back-to .back-top:hover {
    background-position: -50px 0
}
